hr.svelte-1fp7xm9{width:100%;margin-block-start:2rem;margin-block-end:2rem;background-color:transparent!important}@media only screen and (max-width:720px){hr.svelte-1fp7xm9{margin-block-start:1rem;margin-block-end:1rem}}
