.drawer-container {
  --transition-speed: 0.3s;
  font-family: "Quando";
  font-size: max(1.8vmin, 0.8rem);
}

.drawer {
  background: var(--cardBackground);
  width: 40vw;
  height: 100%;
  overflow: auto;
  position: fixed;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  transition: transform var(--transition-speed) ease;
  z-index: 1000;
}

.drawer.right {
  top: 0;
  right: 0;
  transform: translateX(100%);
}

.drawer-container.open.in .right {
  display: block;
  transform: translateX(0);
}

.backdrop {
  visibility: hidden;
  opacity: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity var(--transition-speed) ease,
    visibility var(--transition-speed) ease;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  position: fixed;
  pointer-events: none;
  z-index: 0;
}

/*
	Only apply the box-shadow when open to prevent the shadow
  from appearing on the edge of the screen when inactive
 */
.drawer-container.open.in .drawer {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.drawer-container.open .backdrop {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
  z-index: 999;
}

.drawer-content {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
  padding-top: 3rem;
}

.drawer-content p {
  margin: 0;
}

.drawer-content > li {
  width: 100%;
  height: 70px;
  padding: 0;
  text-align: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.drawer-content > li a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
