.site-button {
  outline: none;
  font-family: "Roboto", monospace;
  text-decoration: none;
  color: black;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: white;
  border: 1px solid var(--gray2);
  border-radius: 0.2rem;
  transition: border-color 0.15s ease;
}

.site-button:hover {
  cursor: pointer;
  border: 1px solid var(--gray4);
}
