.site-button {
  outline: none;
  font-family: "Roboto", monospace;
  text-decoration: none;
  color: black;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: white;
  border: 1px solid var(--gray2);
  border-radius: 0.5em;
  transition: var(--easeInOutTransition);
}

.site-button:hover {
  cursor: pointer;
  border: 1px solid #555;
}

.site-button:active {
  color: var(--red);
  background-color: white;
}
