.list-item {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--cardBackground);
  border-radius: 0.5em;
  transition: var(--easeTransition);
  box-shadow: var(--card-shadow);
}

.list-item:hover {
  box-shadow: var(--card-shadow-hover);
  transform: scale(1.05);
}

.list-item:active {
  box-shadow: var(--card-shadow-hover);
  transform: scale(1.05);
}

.list-item > a {
  margin: 0px;
  padding: 1em;
  outline: none;
  color: var(--text);
  text-decoration: none;
  transition: var(--easeTransition);
}

.list-item > a:active {
  background-color: transparent;
  outline: none;
}

.list-item > a > h3 {
  transition: var(--easeTransition);
}

.list-item:hover > a > h3 {
  color: var(--accent);
}

.list-item:active > a > h3 {
  color: var(--accent);
}

.list-item-title {
  font-weight: 800;
}

.list-item-description {
  color: var(--subText);
  margin: 0px;
  margin-top: 15px;
  padding: 0px;
}
