.list-item {
  margin: 0px;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
	background-color: white;
  border-radius: 0.5em;
	transition: var(--easeInOutTransition);
	box-shadow: var(--card-shadow);
}

.list-item:hover {
	box-shadow: var(--card-shadow-hover);
	transform: translateY(-5px);
}