.switch-input {
  cursor: pointer;
  padding: 0.5rem;
  width: 100%;
  text-align: center;
}

.switch-icon {
  color: var(--text);
  margin-top: 4px;
  font-size: 170%;
  transition: color 0.3s ease;
}

.switch-icon:hover {
  color: var(--accent);
}
