---
import "../styles/global.css";
import MainLayout from "../layouts/MainLayout.astro";

const page = {
    title: "RB | Chi sono",
    url: "/about",
};
---

<MainLayout page={page}>
    <h1>Chi sono</h1>
</MainLayout>
