---
import "../styles/global.css";
import MainLayout from "../layouts/MainLayout.astro";

const page = {
    title: "RB | Lavori",
    url: "/works",
};
---

<MainLayout page={page}>
    <h1>Lavori</h1>
</MainLayout>
