.site-navbar {
  display: flex;
  padding-top: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  justify-content: space-between;
  align-items: center;
}

.site-navbar-nav {
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  transition: all 0.3s ease;
}

.site-navbar-nav > li:not(li:last-child) {
  margin-right: 1rem;
}

.site-navbar-menu {
  display: none;
}

.site-navbar-menu:hover {
  cursor: pointer;
  color: var(--accent);
}

.dropdown {
  display: none;
}

/* SMALL SCREEN */
@media screen and (max-width: 600px) {
  .site-navbar {
    padding-top: 4rem;
  }

  .site-navbar-nav {
    display: none;
  }

  .site-navbar-menu {
    display: block;
    width: 2rem;
    height: auto;
    transition: all 0.5s ease;
  }

  .dropdown {
    display: block;
  }
}
