.list-item {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--cardBackground);
  border-radius: 0.5rem;
  transition: var(--easeTransition);
  box-shadow: var(--card-shadow);
}

.list-item:hover {
  box-shadow: var(--card-shadow-hover);
  transform: scale(1.03);
}

.list-item:active {
  box-shadow: var(--card-shadow-hover);
  transform: scale(1.03);
}

.list-item > a {
  margin: 0px;
  padding: 1rem 1.2rem;
  outline: none;
  color: var(--text);
  text-decoration: none;
  transition: var(--easeTransition);
}

.list-item > a:active {
  background-color: transparent;
  outline: none;
}

.list-item h4 {
  transition: var(--easeTransition);
}

.list-item-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list-item:hover h4 {
  color: var(--accent);
}

.list-item:active h4 {
  color: var(--accent);
}

.list-item-tag {
  font-size: 80%;
  font-weight: bold;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  letter-spacing: 1px;
  margin: 0;
  padding: 0;
  border-radius: 5px;
}

.list-item-tag.ANDROID {
  color: #689f38;
}

.list-item-tag.WEB {
  color: #6495ed;
}

.list-item-title {
  font-weight: 600;
}

.list-item-description {
  color: var(--subText);
  margin: 0px;
  font-size: small;
  margin-top: 15px;
  padding: 0px;
}
