---
import LoadingSpinner from "./LoadingSpinner.astro";
import Icon from "./Icon.astro";

const { isLoading, icon, title, text, id, className } = Astro.props;
---

<button
    id={id}
    class:list={["header-button", !!className ? className : undefined]}
    title={title}
>
    {
        isLoading ? (
            <LoadingSpinner small />
        ) : !!icon ? (
            <Icon name={icon} size={18} />
        ) : (
            <p>{text}</p>
        )
    }
</button>

<style>
    .header-button {
        width: 40px;
        height: 40px;
        outline: none;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--textColor);
        font-weight: 600;
        background-color: transparent !important;
        -webkit-tap-highlight-color: transparent;
        background-color: var(--backgroundColor);
        border: 1px solid var(--borderColor);
        border-radius: var(--borderRadius);
        margin: 0px;
        margin-left: 0.5rem;
        cursor: pointer;
        transition: all var(--transition);
    }

    .header-button:active {
        box-shadow: var(--activeInputShadow) !important;
    }

    header-button > p {
        font-family: inherit;
        letter-spacing: 1px;
        font-weight: 700;
        font-size: 14px;
        user-select: none;
        padding-top: 1px;
        color: var(--textColor);
        transition: color var(--transition);
    }

    /* schermo piccolo */
    @media only screen and (max-width: 720px) {
        #header-button {
            border: none;
            transform: scale(1.4);
        }

        #header-button:active {
            box-shadow: none !important;
        }
    }
</style>
