.footer-icon {
  margin: 0px;
  padding: 0px;
  font-size: 180%;
  color: var(--text);
  vertical-align: middle;
  transition: var(--easeTransition);
}

.footer-icon:hover {
  color: var(--accent);
}

.footer-icon:active {
  color: var(--accent);
}
