.footer-icon {
  margin: 0px;
  padding: 0px;
	font-size: 180%;
  color: black;
  vertical-align: middle;
  transition: var(--easeInOutTransition);
}

.footer-icon:hover {
  color: var(--red);
	transform: translateY(-5px);
}

.footer-icon:active {
  color: var(--red);
}
