* {
    box-sizing: border-box;
}

html {
    scroll-padding-top: 80px;
    scroll-behavior: smooth;
    scrollbar-gutter: stable;
}

html,
body {
    margin: 0;
    padding: 0;
    min-width: 320px;
    overscroll-behavior-y: none;
}

body {
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

body::-webkit-scrollbar {
    width: 0.375rem;
    height: 0.375rem;
}

body::-webkit-scrollbar-track {
    background-color: rgba(75, 75, 75, 0.5);
}

body::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.6);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    transition: color var(--transition);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

hr {
    height: 1px;
    border: none;
    background-color: var(--gray1);
}

a, button {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent !important;
}


.lucide,
.lucide > g,
.lucide > path {
    transition: stroke,
    fill var(--transition);
}

/* schermo piccolo */
@media only screen and (max-width: 720px) {
    html, body {
        overscroll-behavior-y: initial;
    }
}
