:root {
	--fontSize: 16px;
}

html, body {
	margin: 0px;
	padding: 0px;
}

body {
	-webkit-font-smoothing: antialiased;
	overflow-y: scroll;
	scroll-behavior: smooth;
}

.light {
	--backgroundColor: var(--gray0);
	--cardBackgroundColor: white;
	--accentColor: var(--red);
	--accentColorHover: var(--redDark);
	--textColor: black;
	--subTextColor: var(--gray4);
	--webTag: #005ac4;
	--androidTag: #387002;
	--borderColor: rgba(0,0,0,0.1);
	--navBackgroundColor: rgba(248, 248, 248, 0.6);
	--navBorderBottom: inset 0 -1px 0 0 rgba(0,0,0,0.1);
	--cardShadow: 0 2px 4px rgba(0, 30, 84, 0.12);
	--cardShadowHover: 0 6px 12px -2px rgba(50, 50, 93, 0.25);
	--tocShadow: rgba(0,0,0,0.2) 0px 8px 10px 0px
}

.dark {
	--backgroundColor: var(--gray6);
	--cardBackgroundColor: var(--gray5);
	--accentColor: var(--purple);
	--accentColorHover: var(--purpleLight);
	--textColor: var(--gray0);
	--subTextColor: var(--gray2);
	--webTag: #82b5ff;
	--androidTag: #99d066;
	--borderColor: rgba(255,255,255,0.1);
	--navBackgroundColor: rgba(32, 32, 32, 0.6);
	--navBorderBottom: inset 0 -1px 0 0 rgba(255,255,255,0.1);
	--cardShadow: 0 2px 4px rgba(0, 0, 0, 0.3);
	--cardShadowHover: 0 6px 12px -2px rgba(0, 0, 0, 0.6);
	--tocShadow: rgba(0, 0, 0, 0.6) 0px 8px 10px 0px
}

::-webkit-scrollbar {
	width: 12px;
	transition: all var(--transition);
}

::-webkit-scrollbar-track {
	background-color: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
	height: 56px;
	border-radius: 6px;
	background-clip: content-box;
	border: 3px solid transparent;
	background-color: rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb:hover {
	background-color: rgba(0, 0, 0, 0.6);
}

h5,
h4,
h3,
h2,
h1 {
  margin: 0px;
}

hr {
  height: 1px;
  border: none;
  background-color: var(--gray1);
}