:root {
  --yellow: #ffde22;
  --red: #ff414e;
  --black: #1b1d1c;
  --transition: all 0.2s linear;
}

@font-face {
  font-family: "Comfortaa";
  src: local("Comfortaa"), local("Comfortaa"),
    url("./fonts/Comfortaa-Variable.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Mono"), local("Roboto Mono"),
    url("./fonts/RobotoMono-Variable.ttf") format("truetype");
}

body {
  margin: 0;
}

#underline {
  text-decoration: underline;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* HOME */
.Home {
  text-align: center;
}

.Home-div {
  font-family: "Comfortaa";
  font-weight: 600;
  background-color: var(--yellow);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
}

.Home-header {
  color: var(--black);
  text-align: center;
}

.Home-list-div {
  padding-left: calc(4rem + 1vmin);
  padding-right: calc(4rem + 1vmin);
}

.Home-divider {
  min-width: 70%;
  color: var(--black);
  border: 1px solid var(--black);
  background-color: var(--black);
}

.Home-item-div {
  padding: 15px;
}

.Home-item-header {
  padding: 0;
  margin-bottom: 1vmin;
}

.Home-item-desc {
  margin: 0;
  padding: 0;
}

.Home-link {
  color: var(--black);
  text-decoration: none;
}

.Home-link:hover {
  color: var(--red);
  text-decoration: underline;
}

.Home-footer {
  margin-top: 5rem;
  min-width: calc(10rem + 2vmin);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.Home-icon {
  color: var(--black);
  font-size: calc(15px + 2vmin);
}

.Home-icon:hover {
  color: var(--red);
  font-size: calc(15px + 2vmin);
}

/* DRINKTOOL-POLICY */
.DTP-div {
  padding: 3rem;
  font-family: "Roboto Mono", monospace;
  background-color: white;
}

/* PAGE NOT FOUND */
.PNF-container {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
