:root {
  --gray0: #f8f8f8;
  --gray1: #dbe1e8;
  --gray2: #b2becd;
  --gray3: #6c7983;
  --gray4: #454e56;
  --gray5: #2a2e35;
  --gray6: #12181b;
  --red: #ff414e;
  --purple: #9166cc;
  --easeTransition: all 0.3s ease;
}

::selection {
  background-color: var(--red);
  color: white;
}

.light {
  --accent: var(--red);
  --cardBackground: #ffffff;
  --background: var(--gray0);
  --text: var(--gray6);
  --subText: var(--gray4);
  --card-shadow: 0 2px 4px rgba(0, 30, 84, 0.12);
  --card-shadow-hover: 0 4px 8px rgba(0, 30, 84, 0.12);
}

.dark {
  --accent: var(--purple);
  --cardBackground: var(--gray5);
  --background: var(--gray6);
  --text: #ffffff;
  --subText: var(--gray2);
  --card-shadow: 0 2px 4px rgba(0, 0, 0, 0.38);
  --card-shadow-hover: 0 4px 8px rgba(0, 0, 0, 0.38);
}

@font-face {
  font-family: "Quando";
  font-weight: 400;
  src: local("Quando"), local("Quando"),
    url("./fonts/Quando-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito";
  font-weight: 400;
  src: local("Nunito"), local("Nunito"),
    url("./fonts/Nunito-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Mono"), local("Roboto Mono"),
    url("./fonts/RobotoMono-Variable.ttf") format("truetype");
}

body {
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a,
button {
  outline: none;
}

hr {
  height: 1px;
  border: none;
  background-color: var(--gray1);
}

.route-link {
  outline: none;
  text-decoration: none;
  color: var(--text);
  font-weight: bolder;
  transition: var(--easeTransition);
}

.route-link:hover {
  color: var(--accent);
}

/* HOME */
.Home-div,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

.home-div {
  color: var(--text);
  font-family: "Quando";
  font-size: max(1.8vmin, 0.8rem);
  background-color: var(--background);
  min-height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: background 500ms ease, color 500ms ease;
}

.home-div header {
  width: 60vmin;
  padding-bottom: 2rem;
}

.home-list {
  width: 70vmin;
}

.home-list-divider {
  margin: 0;
  padding: 0;
  height: 1rem;
}

.home-footer {
  min-height: max-content;
  padding-top: 2rem;
  padding-bottom: 4rem;
  min-width: 45vmin;
}

.home-footer p {
  font-size: 80%;
  text-align: center;
  line-height: 1.5;
  margin: 0;
}

.home-footer div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}

/* DRINKTOOL - WEB */
.dt-div {
  height: 100vh;
  font-family: "Nunito";
  background-color: var(--gray0);
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #111111;
  --bg-secondary: #000000;
}

.dt-div main {
  margin-left: 4rem;
  padding: 10rem;
  height: -webkit-fill-available;
  height: -moz-available;
}

.dt-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

/* SMALL */
@media only screen and (max-width: 600px) {
  .dt-div main {
    margin-left: 0;
    margin-bottom: 4rem;
  }
}

/* DRINKTOOL-POLICY */
.dtp-div {
  padding: 3rem;
  color: #000000;
  font-family: "Roboto Mono", monospace;
  background-color: #ffffff;
}

/* PAGE NOT FOUND */
.pnf-container {
  font-family: "Roboto Mono", monospace;
  font-size: max(1.8vmin, 0.8rem);
  background-color: var(--gray0);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pnf-container h2 {
  margin-bottom: 2rem;
}
