:root {
	--gray0: #f8f8f8;
	--gray1: #dbe1e8;
	--gray2: #b2becd;
	--gray3: #6c7983;
  --red: #ff414e;
  --easeInOutTransition: all 0.15s ease-in-out;
	--card-shadow: 0 2px 4px rgba(0,30,84,0.12);
	--card-shadow-hover: 0 4px 8px rgba(0,30,84,0.12);
}

@font-face {
  font-family: "Quando";
  src: local("Quando"), local("Quando"),
    url("./fonts/Quando-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Mono"), local("Roboto Mono"),
    url("./fonts/RobotoMono-Variable.ttf") format("truetype");
}

body {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  outline: none;
}

/* HOME */
.Home-div h1,
h2,
h3,
h4 {
  margin: 0px;
  padding: 0px;
}

.Home-div {
  color: black;
  font-family: "Quando";
  font-weight: 600;
  background-color: var(--gray0);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: max(2vmin, 1em);
}

.Home-divider {
  min-width: 70%;
  color: black;
  border: 1px solid black;
  background-color: black;
}

.Home-list {
  width: 80vmin;
}

.Home-list-divider {
  margin: 0px;
  padding: 0px;
  height: 15px;
}

.Home-footer {
  min-width: 40vmin;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

/* DRINKTOOL-POLICY */
.DTP-div {
  color: black;
  padding: 3rem;
  font-family: "Roboto Mono", monospace;
  font-size: 100%;
  background-color: white;
}

/* PAGE NOT FOUND */
.PNF-container {
  font-family: "Roboto Mono", monospace;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: max(3vmin, 1em);
  color: white;
}
