:root {
  --gray0: #f8f8f8;
  --gray1: #dbe1e8;
  --gray2: #b2becd;
  --gray3: #6c7983;
  --gray4: #454e56;
  --gray5: #2a2e35;
  --gray6: #12181b;
  --red: #e50909;
  --purple: #9166cc;
}

::selection {
  background-color: #e50909;
  color: #ffffff;
}

@font-face {
  font-family: "Quando";
  font-style: normal;
  font-weight: 400;
  src: local("Quando"), local("Quando"),
    url(./fonts/Quando-Regular.ttf) format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  src: local("Nunito"), local("Nunito"),
    url(./fonts/Nunito-Regular.ttf) format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Mono"), local("Roboto Mono"),
    url(./fonts/RobotoMono-Variable.ttf) format("truetype");
  font-display: swap;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

a,
div,
button {
  outline: none;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

hr {
  height: 1px;
  border: none;
  background-color: var(--gray1);
}

.fallback {
  background-color: var(--gra0);
}

/* DRINKTOOL-POLICY */
.dtp-div {
  padding: 3rem;
  color: #000000;
  font-family: "Roboto Mono", monospace;
  background-color: #ffffff;
}

.dtp-div a:hover {
  text-decoration: underline;
}

/* PAGE NOT FOUND */
.pnf-container {
  font-family: "Roboto Mono", monospace;
  font-size: max(1.8vmin, 0.8rem);
  background-color: var(--gray0);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pnf-container h2 {
  margin-bottom: 2rem;
}
