.list-item-title {
  margin: 0px;
  padding: 0px;
  outline: none;
  color: black;
  text-decoration: none;
  transition: var(--easeInOutTransition);
}

.list-item-title:hover {
  color: var(--red);
}
